<section class="featured">
    <div class="featured--vertical">
        <div class="featured--horizontal">
            <div class="featured--name">titulo</div>
            <div class="featured--info">
                <div class="featured--points">vote_average pontos</div>
                <div class="featured--year">get full year</div>
                    <div class="featured--seasons">num da temp temporada</div>                
            </div>
            <div class="featured--description">descricao</div>
            <div class="featured--buttons">
                <a href="" class="featured--watchbutton">▶ Assistir</a>
                <a href="" class="featured--mylistbutton">+ Minha Lista</a>
            </div>
            <div class="featured--genres"><strong>Gêneros:</strong> genero</div>
       </div>
    </div>            
</section>