<header class="blasck">
    <div class="header--logo">
        <a href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix logo" />
        </a>
    </div>
    <div class="header--menu">
        <a href="#" class="header--link">
            Início
        </a>
        <a href="#">
            Séries
        </a>
        <a href="#">
            Filmes
        </a>
        <a href="#">
            Bombando
        </a>
        <a href="#">
            Minha lista
        </a>
    </div>
    <div class="header--user">
        <a href="/">
            <img src="https://i.imgur.com/ht2hiNi.png" alt="Usuário" />
        </a>
    </div>
</header>