<div class="movieRow">
    <div class="movieRow--title">
        <h2> Title ></h2>
    </div>
    <div class="movieRow--listArea">
        <div class="movieRow--list">

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUbguJvy5lrMR7oBILdATHQtbl3ZFykcg1l-VmTqD7Mw_IwFw6PpMlmdiW7mFlhIwb608vGoLl3wQ2Y9nexxboa2GQsNGr54EqxqHdAjLpW87IgLrC4Qa-UImkS6PEAyfqAtKpU7HGoEsOFxpdNViOhjNLxZ5YMk6htNuuSDeau7Cyc3tR2VBU25Q_BoSXO1OG7m4DT_CLMq5thRfaBm9R0SXdQBB0jt.jpg?r=481" alt="" />
            </div>

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABXt0jGq7u1kN8e0bXi7W2i1kK8KSO1nI8spLB5buF4pgfS6jQSoi0AH5shOXIS578Cvhe6BTnFRdb2Wc1GnYKAY_A-Ul_VcTx_pw7ViUJ967ZtWsfffm2FKOh9zRc9hPjHO7.jpg?r=602" alt="" />
            </div>

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUbguJvy5lrMR7oBILdATHQtbl3ZFykcg1l-VmTqD7Mw_IwFw6PpMlmdiW7mFlhIwb608vGoLl3wQ2Y9nexxboa2GQsNGr54EqxqHdAjLpW87IgLrC4Qa-UImkS6PEAyfqAtKpU7HGoEsOFxpdNViOhjNLxZ5YMk6htNuuSDeau7Cyc3tR2VBU25Q_BoSXO1OG7m4DT_CLMq5thRfaBm9R0SXdQBB0jt.jpg?r=481" alt="" />
            </div>

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABXt0jGq7u1kN8e0bXi7W2i1kK8KSO1nI8spLB5buF4pgfS6jQSoi0AH5shOXIS578Cvhe6BTnFRdb2Wc1GnYKAY_A-Ul_VcTx_pw7ViUJ967ZtWsfffm2FKOh9zRc9hPjHO7.jpg?r=602" alt="" />
            </div>

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABUbguJvy5lrMR7oBILdATHQtbl3ZFykcg1l-VmTqD7Mw_IwFw6PpMlmdiW7mFlhIwb608vGoLl3wQ2Y9nexxboa2GQsNGr54EqxqHdAjLpW87IgLrC4Qa-UImkS6PEAyfqAtKpU7HGoEsOFxpdNViOhjNLxZ5YMk6htNuuSDeau7Cyc3tR2VBU25Q_BoSXO1OG7m4DT_CLMq5thRfaBm9R0SXdQBB0jt.jpg?r=481" alt="" />
            </div>

            <div class="movieRow--item">
                <img src="https://occ-0-3247-1740.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABXt0jGq7u1kN8e0bXi7W2i1kK8KSO1nI8spLB5buF4pgfS6jQSoi0AH5shOXIS578Cvhe6BTnFRdb2Wc1GnYKAY_A-Ul_VcTx_pw7ViUJ967ZtWsfffm2FKOh9zRc9hPjHO7.jpg?r=602" alt="" />
            </div>
        </div>
    </div>
</div>